header {
    position: fixed;
    top: 0%;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.347);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    z-index: 1000;
}

header .username {
    font-size: 18px;
    color: white;
    font-weight: bold;
}

header .username a {
    text-decoration: none;
    color: white;
}

header .username a:hover {
    color: rgb(92, 92, 92);
}

/* HEADER - MAIN */
.header-main {
    position: fixed;
    top: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-main a  {
    background-color: #624584ab; 
    color: #fff; 
    padding: 10px 49px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 25px; 
    font-weight: bold;
    margin: 0 10px; 
    cursor: pointer; 
    border-radius: 24px; 
}
.header-main a:hover{
    background-color: #62458473; 
} 

/* FOOTER - MAIN */
.footer-main {
    position: relative;
    right: 2%;
    top: 395px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-main a  {
    background-color: #624584ab; 
    border: none; 
    color: #fff; 
    padding: 10px 49px;
    text-align: center; 
    text-decoration: none;
    display: inline-block; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 25px;
    font-weight: bold;
    margin: 0 10px; 
    cursor: pointer; 
    border-radius: 24px; 
}
.footer-main a:hover{
    background-color: #62458473; 
} 

p {
    color: red;
}
.bouton-credits{
   text-decoration:none;
   color: inherit;
}
.bouton-credits>h1{
    color:white;
}
body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../Document/Image/Fond/main-background.jpg');
    background-size: cover; 
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}

/* Container principal des crédits */
.credits-container {
    color: white;
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
    position: fixed;
    top: 1.5%;  
    margin: 10px; 
    background:  #624584ab; 
    border-radius: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre portée */
    transform: scale(1); /* Échelle initiale */
    transition: transform 0.5s ease; /* Transition pour le hover */
    max-height: 90%;
    padding: 20px;
    width: 40%;
    height: 8%;
    max-width: 800px;
    overflow: hidden;
}
/* Page d'accueil ( menu de gestion de compte ) */
.dropdown-content{
    color : blue;
}

/* Conteneur principal interne des crédits */
.credits-main-container {
    margin-top: 11%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px; 
    padding: 20px; 
    background:  #624584ab;  
    max-width: 90%;
    width: 60%;
    height: 60%;
}

/* Liste des crédits */
.credits-list {
    list-style-type: none; 
    padding: 0;
    margin: 0; 
    display: contents; 
}

/* Éléments de la liste des crédits */
.credits-list li {
    background:  #624584d8; 
    color: whitesmoke;
    font-size: 18px;
    border:none;
    border-radius: 4px; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
    padding: 10px; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

/* Hover sur les éléments de la liste */
.credits-list li:hover {
    background: rgba(171, 170, 170, 0.756);
}

/* Classes pour la disposition des éléments dans la grille */
.un { grid-area: 1 / 1 / 2 / 2; } /* Ligne 1, Colonne 1 */
.deux { grid-area: 1 / 2 / 2 / 3; } /* Ligne 1, Colonne 2 */
.trois { grid-area: 2 / 1 / 3 / 2; } /* Ligne 2, Colonne 1 */
.quatre { grid-area: 2 / 2 / 3 / 3; } /* Ligne 2, Colonne 2 */
.cinq { grid-area: 3 / 1 / 4 / 2; } /* Ligne 3, Colonne 1 */
.six { grid-area: 3 / 2 / 4 / 3; } /* Ligne 3, Colonne 2 */

#Leader{
    margin-top: 60px;
}
/* Effet de zoom sur le conteneur principal au survol */
.credits-container:hover {
    transform: scale(1.05);     
}
/* Animation pour les éléments individuels */
.credit-item {
    margin: 10px 0;
    opacity: 0;
    animation: fadeInUp 0.8s ease forwards;
    animation-delay: calc(var(--animation-order) * 0.3s);
}
.Accueil-container>.Logo {
    display:flex;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    height: 40px;
    width: 40px;
    margin-left: -490px;
}
.Accueil-container>.Logo>img{
    padding: 0px 0px 7px 4px;
}

#stepButton {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.347);
    color: white;
}

#stepButton:hover {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);;
    color: white;
}

select#liste:hover{
    transform: scale(1.05);     
}
/* Style pour le menu déroulant */
select#liste {
    padding: 10px;
    height: 70px;
    width: 200px;
    align-content: center;
    font-size: 25px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    color: #333;
    transition: transform 0.5s ease;
    appearance: none; /* Supprime les styles natifs du navigateur */
    -webkit-appearance: none; /* Pour les navigateurs WebKit */
    -moz-appearance: none; /* Pour les navigateurs Mozilla */
}


/* Style pour les options du menu déroulant */
select#liste option {
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
}

/* Style au survol des options du menu déroulant */
select#liste option:hover {
    background-color: #f5f5f5;
}


/* Animation keyframes */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Partie connexion */
/* styles.css */
body {
    font-family: Arial, sans-serif;
}
.hintWindow {
    position: fixed;
    bottom: -100px; /* Initial position, en dehors de l'écran */
    left: 50%;
    transform: translateX(-50%);
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: bottom 0.5s ease; /* Animation de transition */
}

.hintWindow.show {
    bottom: 20px; /* Position visible */
}

.Accueil-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color:inherit;
}

.Logo img {
    width: 50px;
    height: auto;
}

.user-info {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto; /* Alignement à droite */
    text-align: center;
    padding-right: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
    right: 35%;
    top : 10%;
}

.dropbtn { 
    display: flex;
    background-color: inherit;
    border-radius: 100px;
    cursor: pointer;
    font-size: 32px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 10px;
    display: inline-block;
}

/* Style pour les liens dans le contenu du menu déroulant */
.dropdown-content a {
    background-color: #624584ab;    
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s, color 0.3s; /* Ajout de transitions pour un effet plus fluide */
}

/* Style pour les liens au survol dans le contenu du menu déroulant */
.dropdown-content a:hover {
    background-color: #624584ab; 
    color: #333; /* Changer la couleur du texte pour un meilleur contraste au survol */
}

/* Afficher le contenu du menu déroulant au survol */
.dropdown:hover .dropdown-content {
    background-color: #624584ab; 
    display: block;
    animation: fadeIn 0.3s ease-in-out; /* Ajout d'une animation de fondu pour un effet plus agréable */
}

/* Animation pour le fondu */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Ajouter un espace entre le pseudo et l'icône */
.dropbtn i {
    margin-left: 8px;
}

/* Style pour le contenu du menu déroulant */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px; /* Vous pouvez ajuster la largeur minimale selon vos besoins */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    overflow: hidden; /* Assurer que le contenu ne déborde pas des bords arrondis */
}

/* Style pour les liens dans le contenu du menu déroulant */
.dropdown-content a {
    background-color: rgba(0, 0, 0, 0.18);
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s, color 0.3s; /* Ajout de transitions pour un effet plus fluide */
}

/* Style pour les liens au survol dans le contenu du menu déroulant */
.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #333; /* Changer la couleur du texte pour un meilleur contraste au survol */
}

/* Afficher le contenu du menu déroulant au survol */
.dropdown:hover .dropdown-content {
    display: block;
    animation: fadeIn 0.3s ease-in-out; /* Ajout d'une animation de fondu pour un effet plus agréable */
}

/* Animation pour le fondu */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.wrapper-body {
    display: block;
    background-color: #624584ab;    
    padding: 25px;
    border-radius: 10px;
    text-align: center;    
    margin-top: 10%;
}

.wrapper-body a {
    text-decoration: none;
    color: white;  
}

.wrapper-body h4 {
    font-size: 36px;
    text-align: center;
    color: #fff;
}

.wrapper-body .input-box {
    width: 100%;
    margin: 20px 0;
    position: relative;
}

.wrapper-body .input-box input[type="text"], 
.wrapper-body .input-box input[type="email"], 
.wrapper-body .input-box input[type="password"] {
    width: 100%;
    height: 30px;
    background: white;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
}

.wrapper-body .input-box input::placeholder {
    color: grey;
}

.wrapper-body .input-box i {
    position: relative;
    left: 365px;
    bottom: 21px;
}

.wrapper-body .btn {
    color: white;
    text-align: center;
    padding-bottom: 3%;
    width: 80%;
    height: 35px;
    border-radius: 20px;
    background-color: #624584;     
}
.wrapper-body .btn:hover{
    background-color: #624584d1; 
}

.wrapper-body p {
    color: white;
}

.wrapper-body .profile-pic-container {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.wrapper-body .profile-pic-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper-body .profile-pic-container input[type="file"] {
    display: none;
}

.message-container {
    display: flex;
    padding: 10px;
    margin-top: 20px;
    color: black;
    font-weight: bold;
}

#message-container {
    min-height: 20px;
    margin-bottom: 20px;
    color: red;
}

#redirect_signup {
    text-decoration: none;
}

/* Styles pour le cadre des conditions de mot de passe */
.password-requirements {
    border: 1px solid #000000;
    padding: 10px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    color: whitesmoke;    
    border-radius: 10px;
}

.linko:visited, .linko:link {
    color: blue;
    text-decoration: none;
}

/* FIN de la partie connexion*/
.Jeu{
    background-image: url('../../Document/Image/Fond/main-background.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
}
.Jeu-Jurassic{
    background-image: url('../../Document/Image/Fond/loading_screen/jurisen.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.Jeu-Médieval{
    background-image: url('../../Document/Image/Fond/loading_screen/versailles.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.Jeu-Actuel{
    background-image: url('../../Document/Image/Fond/loading_screen/paris.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.Jeu-Future{
    background-image: url('../../Document/Image/Fond/loading_screen/future.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

#Etapes{
    padding: 10px;
    margin-top: 5%;
    height: 100px;
    width: 500px;
    align-content: center;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.347);
    color: white;
}
#Etapes-Jeu {
    padding: 10px;
    margin-top: 5%;
    height: 200px;
    width: 200px;
    margin-right: 400px;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.347);
    color: white;

}
#Etapes-Concepteur {
    padding: 30px;
    margin-top: 5%;
    height: 300px;
    width: 200px;
    margin-right: 400px;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;

}
#Etapes-Concepteur-3 {
    padding: 30px;
    margin-top: 5%;
    height: 200px;
    width: 200px;
    margin-right: 400px;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;

}
#Etapes-Concepteur-5 {
    padding: 30px;
    margin-top: 5%;
    height: 220px;
    width: 200px;
    margin-right: 400px;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;

}
#Etapes-Concepteur-6 {
    padding: 30px;
    margin-top: 5%;
    height: 220px;
    width: 200px;
    margin-right: 400px;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;

}
#stepButton {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.347);
    color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

#stepButton:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Styles pour les boutons radio */
.color-buttons-concepteur,
.size-buttons-concepteur {
    display: flex;
    gap: 10px;
}

.color-buttons-concepteur input[type="radio"],
.size-buttons-concepteur input[type="radio"] {
    display: none;
}

.color-buttons-concepteur label,
.size-buttons-concepteur label {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.347);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.color-buttons-concepteur input[type="radio"]:checked + label,
.size-buttons-concepteur input[type="radio"]:checked + label {
    background-color: rgba(0, 0, 0, 0.7);
    transform: scale(1.05);
}

/* Styles spécifiques pour les couleurs */
#bleuButton + label {
    background-color: rgba(0, 0, 255, 0.5);
}

#bleuButton:checked + label {
    background-color: blue;
}

#vertButton + label {
    background-color: rgba(0, 255, 0, 0.5);
}

#vertButton:checked + label {
    background-color: green;
}

#cuivreButton + label {
    background-color: rgba(184, 115, 51, 0.5); /* Copper color */
}

#cuivreButton:checked + label {
    background-color: #b87333; /* Darker copper */
}

#noirButton + label {
    background-color: rgba(0, 0, 0, 0.5);
}

#noirButton:checked + label {
    background-color: black;
}

.controls-container {
    position: fixed;
    left: 5%;
    top: 25%;
}

.controls-container-concepteur {
    position: fixed;
    left: 35%;
    top: 50%;
    align-content: center;
    text-align: center;
}

.level-container {
    position: fixed;
    left: 5%;
    top: 25% 
}
.concepteur-container {
    position: fixed;
    left: 75%;
    top: 35% 
}
#level1 {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

#level8 {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#script {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 100px); /* Adjust height to account for potential overflow */
}

.script-container {
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

#script-concepteur {
    margin-top: 100px; /* Déplace le contenu vers le bas de 100 pixels */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    width: 150px; /* Taille fixe pour tous les boutons */
}

#color-buttons button {
    background-color: rgba(0, 0, 0, 0.347); /* Couleur de fond par défaut */
    color: white; /* Couleur du texte par défaut */
}

#size-buttons button {
    background-color: rgba(0, 0, 0, 0.347); /* Couleur de fond par défaut */
    color: white; /* Couleur du texte par défaut */
}

#size-buttons button:hover {
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond par défaut */
    color: white; /* Couleur du texte par défaut */
}

#size-buttons button:hover {
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond par défaut */
    color: white; /* Couleur du texte par défaut */
}

#color-buttons button:hover {
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond par défaut */
    color: white; /* Couleur du texte par défaut */
}

.script-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#size-buttons {
    margin-top: 20px; /* Espace entre les deux catégories de boutons */
    margin-left: 5%;
}

/* Styles pour les boutons individuels selon les catégories */
#normalButton {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

#vertButton {
    color: #fff;
}

#cuivreButton {
    color: #fff;
}

#noirButton {
    color: #fff;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#quatrexquatre {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

#dixxdix {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#color-buttons-concepteur button {
    background-color: rgba(0, 0, 0, 0.347); /* Couleur de fond par défaut */
    color: white; /* Couleur du texte par défaut */
}

#size-buttons-concepteur button {
    background-color: rgba(0, 0, 0, 0.347); /* Couleur de fond par défaut */
    color: white; /* Couleur du texte par défaut */
}

#size-buttons-concepteur button:hover {
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond par défaut */
    color: white; /* Couleur du texte par défaut */
}

#color-buttons-concepteur button:hover {
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond par défaut */
    color: white; /* Couleur du texte par défaut */
}

#size-buttons-concepteur {
    margin-top: 20px; /* Espace entre les deux catégories de boutons */
}

/* Styles pour les boutons individuels selon les catégories */
#normalButton-concepteur {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

#vertButton-concepteur {
    color: #fff;
}

#cuivreButton-concepteur {
    color: #fff;
}

#noirButton-concepteur {
    color: #fff;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#quatrexquatre-concepteur {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

#dixxdix-concepteur {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.script {
    grid-row: 1;
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 600px) {
    .credits-container {
        width: 90%;
        padding: 10px;
    }

    .credit-item {
        font-size: 14px;
    }
}

/*début page leaderboard*/
.lbody {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer horizontalement les enfants */
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 100%;
    position: relative; /* Pour le positionnement des trophées */
    padding-top: 20px; /* Ajoute un peu d'espace en haut pour ne pas coller au bord */
}

.trophy-left, .trophy-right {
    position: absolute;
    top: 10%; /* Centrer verticalement */
    transform: translateY(-50%); /* Centrage parfait verticalement */
    font-size: 75px; /* Taille de l'icône */
    color: gold; /* Couleur dorée pour le trophée */
}

.trophy-left {
    left: 10px; /* Positionner à gauche */
}

.trophy-right {
    right: 10px; /* Positionner à droite */
}

table {
    width: 80%;
    margin-top: 20px;
    border-collapse: separate; 
    border-spacing: 0; 
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 10px; 
    overflow: hidden; 
}

th, td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

tr:nth-child(even){background-color: #f9f9f9;}

tr:hover {background-color: #ddd;}


th:first-child, td:first-child {
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px; 
}

th:last-child, td:last-child {
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px; 
}

.titrelien:link, .titrelien:visited  {
    color:black;
    text-decoration:none;
}
/*fin page leaderboard*/


/* DEBUT PAGE SETTINGS */ 

.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    height: 80vh;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin: 50px auto;
}
.container .black{
    display: flex;
    width: 80%;
    max-width: 1200px;
    height: 80vh;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    overflow: hidden;
    margin: 50px auto;
}

.sidebar {
    background-color: #624584dc; 
    width: 13%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    display: flex;
    align-items: center;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar a:hover,
.sidebar a.active {
    background-color: rgba(255, 255, 255, 0.2);
}

.sidebar a i {
    margin-right: 10px;
}

.content {
    padding: 40px;
    flex-grow: 1;
    background-color: #624584ab;
    overflow-y: auto;
}

h1 {
    color: #333;
}

.settings-section {
    margin-bottom: 20px;
}

.settings-section h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    color: #444;
}

.setting-item {
    margin-top: 10px;
}

.setting-item label {
    display: block;
    margin-bottom: 5px;
    color: darkgray;
}

.setting-item input[type="text"],
.setting-item input[type="email"],
.setting-item input[type="password"],
.setting-item select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.setting-item input[type="checkbox"] {
    margin-right: 10px;
}

.save-button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.save-button:hover {
    background-color: #0056b3;
}

.content-section {
    display: none;
}

.content-section.active {
    display: block;
}

#resetSett {
    text-decoration: none;
    color: white;
    text-decoration: underline;
}

#resetSett:hover {
    color: lightgray;
}

/* Volume bar */
#player {
    display: flex;
    align-items: center;
    width: 200px;
}
#volume {
    flex: 1;
    height: 10px;
    background: #ddd;
    margin: 0 10px;
    position: relative;
}
#volume-bar {
    width: 50%; /* Initial volume level */
    height: 100%;
    background: #007bff;
    position: absolute;
    top: 0;
    left: 0;
}
audio {
    display: none;
}

.LogoSett {
    display:flex;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    height: 40px;
    width: 40px;
}
.LogoSett>img{
    padding: 0px 0px 7px 4px;
}
#myAudio {
    display: none;
  }
  #volume-bar-container {
    width: 120px;   
    height: 10px;
    background-color: #ccc;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 0 10px 0 10px;
}

volume-bar-container{
    width:100px;
}
/* FIN PAGE SETTINGS */ 

/* DEBUT PAGE REGLES */

.rules-div {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 20px;    
    width: 800px;
    height: 400px;
    margin-top: 75px;
}

.rules-div h1 {
    color: white;
    text-align: center;
}

.p-rules {
    padding-top: 50px;
}

.rules-div p {
    color: white;
    text-align: center;
}

.start-button {
    position: absolute;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;   
    padding: 10px 20px; /* Ajout de padding pour le style du bouton */
    bottom: 20px;
    right: 20px;
    color: white;
    transition: background-color 0.3s ease; /* Animation de transition */
}

.start-button:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Changement de couleur au survol */
}

/* FIN PAGE REGLES */